html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

    #headmain
      block head
  body(style="overflow:scroll")
    include header.jade
    div(style="height:10px;")
    #bodymain
      block submenu
      
      block body

      block script