#headerbackground(style="height:50px;background:#111; color:#888")
    #header(style="height:50px; max-width:1040px; margin-left:auto; margin-right:auto;")
        #menu(style="width:100%")
             style(type="text/css").   
                .lable{   
                    height: 50px;
                    min-width: 80px;
                    text-align: center;
                    line-height: 50px;
                    float: left;
                    list-style: none;
                    background:#111;
                }   
                .lableLink{
                    color:#888;
                }
               
                ##{page}{
                    background:#222;
                }
            a(href="/heroindex").lableLink
                li(id="hero").lable hero 
            a(href="/itemindex").lableLink 
                li(id="item").lable item
            - if (temp)   
                a(href="").lableLink 
                    li(style="background:#222").lable #{hero}