extends frame


block body
    img(src='http://cdn.dota2.com/apps/dota2/images/heroes/#{hero}_hphover.png')
    #d(style="height: 10px;")
    #hero_item_chart
    script(src="../../libs/echarts.js")
    script(stype="text/javascript").
        // 基于准备好的dom，初始化echarts实例
        var interval = 10;
        
        function draw()
        {
            var myChart = echarts.init(document.getElementById('hero_item_chart'));
            
            var result = "#{result}";
            var items = JSON.parse(result.replace(/&quot;/g,'"')).items;
            var series = [];
            for (var index in items)
            {
                var item = items[index];
                var data = [0];
                var details = item.details;
                var len = details.length;
                var time = 10;
                var i = 1;
                while( i < len)
                {
                    
                    if (details[i].timestamp == time)
                    {
                        data.push(details[i].win / details[i].used);
                        i++;
                    }
                    else
                    {
                        data.push(data[data.length - 1]);
                    }

                    time += interval;
                }
                series.push({name:item.id, type:'line', data:data})
            }
                

            option = {
               backgroundColor: '#1b1b1b',//背景色
                tooltip: {
                    trigger: 'axis'
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    color:'#ffffff',
                    type: 'category',
                    boundaryGap: false,
                    data: ['周一','周二','周三','周四','周五','周六','周日']
                },
                yAxis: {
                    color:'#ffffff',
                    type: 'value'
                },
                series: series,
            };


            myChart.hideLoading();
            
            myChart.setOption(option);
        }

        draw();
        window.onresize =function(){  draw();}  