extends frame

block body
  #main(align="middle" style="padding-left:auto;padding-right:auto;")
    script(src="libs/jquery-3.1.1.min.js")
    script(type="text/javascript").
        var heroes ;
        $.get('/api/GetHeroes', function (ret) 
        {
            heroes = ret;
            draw();
        })


        function draw()
        {
            var div = document.getElementById('main');
            var width = div.clientWidth * 0.125;
            width = width > 127? 127: width
            var height = width * 71 / 127;

            var content = "";
            for (var index in heroes)
            {
              var name = heroes[index].name.match(/npc_dota_hero_(.*)/)[1];
              content += "<a href='hero/" + name + "'><img 'width='" + width + "px' height='" + height + "px' src='http://cdn.dota2.com/apps/dota2/images/heroes/" + name + "_hphover.png' class='normalImage'/></a>";
              
            }
            div.innerHTML = content; 
        }
        
        window.onresize =function(){ draw();}  