extends frame

block body
    <div id="main" style="width: 600px;height:400px;"></div>
    script(src="libs/echarts.js")
    script(stype="text/javascript").
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        myChart.showLoading();
