extends frame


block submenu
    div(style="height:10px;width:100%")
    #menu(style="text-align: center;height:50px;line-height:50px;padding: 0 10 0 10;")
        li(id="herowinrate" ).submenubtn heroes
        //- li(id="versuswinrate" ).submenubtn versus
        a(href="" style="").lableLink 
        img( src='http://cdn.dota2.com/apps/dota2/images/items/#{item}_lg.png' style="float: right;height:45px;padding:0;box-shadow:0 0 1px 1px #000;" ).lable

block body
    #herowinrate_page(style="overflow:hidden;height:0;")
        div(style="background:#111;box-shadow:0 0 1px 1px #000; margin:2px")
            #chart(style="width:100%;height:1px;" )

        div(style="height:10px")
       
        div(style="background:#111;box-shadow:0 0 1px 1px #000; margin:2px")    
            div(style="width:100%; color:#888;height:30px;line-height:30px")
                text(style="margin-left:20px") item
                text(style="margin-left:80px") win rate
            #table(style="min-width:300px;width:99%;overflow-x:hidden;padding: 0 0 0 0;height:50%;margin:auto;margin-right:auto")
                table(style="width:100%;color:#888;" id="heroes")

        div(style="height:50px")      
    #versuswinrate_page(style="overflow:hidden;height:0")
        div(style="background:#111;box-shadow:0 0 1px 1px #000; margin-left:2px; margin: 2px")
            div(style="width:100%; color:#888;height:30px;line-height:30px")
                text(style="margin-left:20px") hero
                text(style="margin-left:80px") #{hero} win rate          
            table(style="background:#333;width:99%;;overflow:auto;margin:auto" id="versuses")

    script(src="/libs/jquery-3.1.1.min.js")
    script(src="/libs/echarts.js")
    script(src="/libs/echartshelper.js")
    script(src="/libs/ui.js")

    script(stype="text/javascript").
        var xAxisData = [];
        for (var i = 0; i < 10800; i+= 10)
             xAxisData.push( formatTime(i));

        var charts = {};
        var div = document.getElementById('chart');
        var myChart = echarts.init(div);
        var helper = echartshelper(myChart);
        var options = helper.getOptions();
        options.xAxis.data = xAxisData;


        var subbuttonparas = {
            autoreset:false,
            reclick:false,
            onclick:function(button){
                button.setAttribute("class", "submenubtndown");
                var page = document.getElementById(button.id + "_page");
                page.style.height = "";
            },
            onreset:function(button){
                button.setAttribute("class", "submenubtn");
                var page = document.getElementById(button.id + "_page");
                page.style.height = "0px";
            }
        }
        ui.addRadioButton("herowinrate","default", subbuttonparas);
        //- ui.addRadioButton("versuswinrate","default", subbuttonparas);
        herowinrate.onclick();


        function formatTime(time)
        {
            var min = Math.floor(time / 60);
            var sec = time % 60;
            if (min == 0)
                return sec + '"';
            else if (sec == 0)
                return min + " '00" + '"';
            else                
                return min + "' " + sec + '"';
        }

        function draw()
        {
            var height = div.clientWidth /2.5;
            if (height < 250) height = 250;
            div.style.height = height;

            helper.refresh()
        }

        window.onresize =function(){ draw();}  

        function usedlimit(num)
        {
            return num > 100;
        }

        function getDetails(hero)
        {
            var sel = document.getElementById(hero);
            if ( sel.style.background != "green")
                return;

            if (charts[hero]) 
            {
                helper.update({name:hero, type:'line', smooth:true,  symbol:'none', markLine:{data : [{type : 'average', name: '平均值'}], symbol:'none', silent: true, animation: false},data:charts[hero]})
                draw();
                return;
            }

            $.get('/api/GetItemDetails/?item=#{item}&hero=' + hero , function (details) 
            {
                var data = [];
                for (var i in details)
                {
                    var d = details[i];
                    if (!usedlimit(d.used) )
                        continue;
                    
                    data.push([formatTime(d.timestamp), d.win / d.used]);
                }

                charts[hero] = data;
                getDetails(hero)
            })
        }

        function selectItem(hero)
        {
            var sel = document.getElementById(hero);
            if ( sel.style.background == "green")
            {
                sel.style.background = "#111";
                helper.remove(hero) 
                draw();
            }
            else
            {
                sel.style.background = "green"; 
                getDetails(hero)
            }
        }

        $.get('/api/GetItemSummaries/?item=#{item}', function (heros) 
        {
            var content = "";
            for (var index in heros)
            {

                var hero = heros[index];
                if (hero.used < 10)
                    continue
                var selected = "<td style='width:20px'><div style='width:20px;height:40px' id ='" + hero.hero + "' /></td>";
                var image = "<td style='width:80px'><img style='height:40px;vertical-align:middle;' src='http://cdn.dota2.com/apps/dota2/images/heroes/" + hero.hero + "_hphover.png' class='normalImage'/></td>";
                var rate = "<td onclick='selectItem(\""+hero.hero+"\")'><div onclick='selectItem(\""+hero.hero+"\")' style='background:green;margin-left:0px;color:white;width:" + Math.floor(hero.win * 100 /hero.used ) + "%'><p onclick='selectItem(\""+hero.hero+"\")' style='margin-left:10px'>" + Math.floor(hero.win * 100 /hero.used)+"%</p></div></td>";
                var tr = "<tr >" + selected + image+ rate + "</tr>"
                content += tr;
            }

            document.getElementById("heroes").innerHTML = content; 
        })

        draw();